@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

body{
    margin: 0;
}

h1{
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#jogo{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50vh;
}

#forca{
    position: absolute;

    width: 45vh;

    left: 20vh;
    margin-bottom: 6vh;
}

#tema{
    margin-top: 2vh;
    text-align: center;
    font-size: 5vh;
}

#teclado{
    margin-top: 1vh;
    user-select: none;
}

#teclado_linha{
    display: flex;
    justify-content: center;

    margin-top: 2vh;
}

#teclado_linha div{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10vh;
    height: 10vh;
    
    margin-inline: 2.5vh;

    border: 0.28vh black solid;
    border-radius: 2vh;

    font-size: 5vh;
    font-family: 'Roboto', sans-serif;

    background-color: whitesmoke;
    cursor: pointer;
}

@media screen and (max-width: 200px) {

    #forca{
        left: -50vh;
        width: 55vh;
    }

    #teclado_linha div{
        margin-inline: 0.3vh;
        width: 3.5vh;
        height: 5vh;
        border-radius: 1.5vh;
        font-size: 3vh;
    }

    #jogo{
        transform: scale(0.3);
    }
  }

@media screen and (min-width: 200px) {

    #forca{
        left: -20vh;
        width: 35vh;
    }

    #teclado_linha div{
        margin-inline: 0.3vh;
        width: 3.5vh;
        height: 5vh;
        border-radius: 1.5vh;
        font-size: 3vh;
    }

    #jogo{
        transform: scale(0.5);
    }
  }

@media screen and (min-width: 400px) {

    #forca{
        left: -15vh;
        width: 35vh;
    }

    #teclado_linha div{
        margin-inline: 0.4vh;
        width: 4vh;
        height: 7vh;
        border-radius: 1.5vh;
        font-size: 3vh;
    }

    #jogo{
        transform: scale(0.6);
    }
  }

@media screen and (min-width: 600px) {

    #forca{
        left: -8vh;
        width: 35vh;
    }

    #teclado_linha div{
        margin-inline: 0.6vh;
        width: 5.5vh;
        height: 8.5vh;
        border-radius: 1.5vh;
        font-size: 3.5vh;
    }

    #jogo{
        transform: scale(0.8);
    }
  }

@media screen and (min-width: 800px) {

    #forca{
        left: 5vh;
        width: 35vh;
    }

    #teclado_linha div{
        margin-inline: 1.5vh;
        width: 7vh;
        height: 9vh;
        border-radius: 1.5vh;
        font-size: 4vh;
    }

    #jogo{
        transform: scale(1);
    }
  }

@media screen and (min-width: 1000px) {

    #forca{
        left: 15vh;
        width: 40vh;
    }

    #teclado_linha div{
        margin-inline: 1.5vh;
        width: 9.5vh;
        height: 9.5vh;
        border-radius: 2vh;
        font-size: 5vh;
    }

    #jogo{
        transform: scale(1);
    }
  }

@media screen and (min-width: 1200px) {

    #forca{
        left: 20vh;
        width: 45vh;
    }

    #teclado_linha div{
        margin-inline: 2.5vh;
        width: 10vh;
        height: 10vh;
        border-radius: 2vh;
        font-size: 5vh;
    }

    #jogo{
        transform: scale(1);
    }
  }

@media screen and (min-width: 1700px) {

    #forca{
        left: 30vh;
        width: 45vh;
    }

    #teclado_linha div{
        margin-inline: 2.5vh;
        width: 12vh;
        height: 10vh;
        border-radius: 2vh;
        font-size: 5vh;
    }

    #jogo{
        transform: scale(1);
    }
  }

@media screen and (min-width: 2500px) {

    #forca{
        left: 45vh;
        width: 45vh;
    }

    #teclado_linha div{
        margin-inline: 3.5vh;
        width: 13vh;
        height: 10vh;
        border-radius: 2vh;
        font-size: 6vh;
    }

    #jogo{
        transform: scale(1);
    }
  }