@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

body{
    margin: 0;
}

h1{
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#jogo{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50vh;
}

#forca{
    position: absolute;

    width: 45vh;

    left: 20vh;
    margin-bottom: 6vh;
}

#tema{
    text-align: center;
}

#teclado{
    margin-top: 1vh;
}

#linha{
    display: flex;
    justify-content: center;

    margin-bottom: 2vh;
}

#linha div{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10vh;
    height: 10vh;
    
    margin-inline: 2.5vh;

    border: 0.28vh black solid;
    border-radius: 2vh;

    font-size: 5vh;
    font-family: 'Roboto', sans-serif;

    background-color: whitesmoke;
    cursor: pointer;
}