@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&display=swap');

body{
    margin: 0;
}

h1{
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#jogo{
    display: flex;
    align-items: center;
    height: 45vh;
}

#espacamentos{
    width: 8vh;
    height: 0.7vh;
    margin-left: 10vh;
    margin-top: 20vh;
    background-color: black;
}

#digitadas{
    text-align: center;
}

#tema{
    text-align: center;
}

#grid{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.grid_intem{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.28vh black solid;
    border-radius: 2vh;
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    width: 10vh;
    height: 10vh;
    margin-left: 5vh;
    background-color: whitesmoke;
}